<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is my first ejs</h1>
    <div>
        <% if(locals.id){%>
            <p>URL Generated: https://localhost/urls/<%= id %></p>
        <%}%>
        <form method="POST" action = "/url">
            <label>Enter your original link</label>
            <input
            type = "text"
            name = "url"
            placeholder="https://example.com"
            />
            <button type="submit" >Generate</button>
        </form>
    </div>   
</body>
</html>